body {
    font-family: Ubuntu;
}


/* Каталог */

.shoppingcart-item {
    margin: 10px 0;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 3px;
}

.shoppingcart-item_id {
    padding-top: 30px;
    color: steelblue;
}

.shoppingcart-item_name {
    padding-top: 10px;
    font-size: 1.1em;
}

.shoppingcart-item_price {
    padding-top: 10px;
    color: red;
}

.shoppingcart-item_btn-add {
    margin-top: 30px;
}

/* Корзина */

.shoppingcart-item_btn-dec-count {
    margin-right: 10px;
    cursor: pointer;
}

.shoppingcart-item_btn-inc-count {
    margin-left: 10px;
    cursor: pointer;
}

.shoppingcart-item_btn-remove {
    cursor: pointer;
}
